<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/merchandiser"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Merchandiser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-card color="light">
      <ion-card-content>
        <ion-input type="text" placeholder="Add Merchandiser Name" #name></ion-input>
        <ion-input type="text" placeholder="Add Merchandiser Contact" #cont></ion-input>
        <ion-button expand="block" color="success" (click)="createMer(name, cont)">
          Add Merchandiser
        </ion-button>
      </ion-card-content>
    </ion-card>

  </ion-grid>

</ion-content>
