<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Supervisor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid  class="ion-margin-top">

    <ion-card>
      <ion-card-content>
 
        <ion-row>
          <ion-col>
            <ion-button  expand="block" color="tertiary" (click)="createTicket()">Tickets List</ion-button>
          </ion-col> 
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button  expand="block" color="tertiary" (click)="createStore()">Store List</ion-button>
          </ion-col> 
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="block" color="tertiary" (click)="createMerchandiser()">Merchandiser List</ion-button>
          </ion-col> 
        </ion-row>

      </ion-card-content>
    </ion-card>

  </ion-grid>

</ion-content>
