<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Merchandiser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid> 
    <ion-col>
      <h3>Tickets List</h3>
    </ion-col>
  </ion-grid>

  <ion-card>
    <ion-card-content>

      <ion-row>
        <ion-col>
          
          <ion-list>
            <ion-item *ngFor="let ticket of Tickets" [routerLink]="['/ticket',ticket.id]">
              <ion-label>
                <h2>{{ ticket.title }}</h2>
              </ion-label>
            </ion-item>
          </ion-list>

        </ion-col>
      </ion-row>
      
    </ion-card-content>
  </ion-card>    

  <ion-button expand="block" color="success" >Create Store</ion-button>

</ion-content>
