<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      MerchApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-margin-top">

    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button  expand="block" (click)="goToSup()" color="tertiary">Sign In as Supervisor</ion-button>
          </ion-col> 
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-button  expand="block" (click)="goToMer()" color="tertiary">Sign In as Merchandiser</ion-button>      
          </ion-col>
        </ion-row>  
      </ion-card-content>
    </ion-card>
           
  </ion-grid>

  
</ion-content>
